@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

* {
  scrollbar-width: thin !important;
  scrollbar-color: transparent !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Work Sans', sans-serif;
}

body:has(.card[data-color='blue']:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color='green']:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

.do-not-select {
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@layer utilities {
  .max-container {
    @apply max-w-5xl mx-auto sm:p-16 pb-12 !pt-[100px] px-8 min-h-[calc(100vh-80px)];
  }

  .head-text {
    @apply sm:text-5xl text-3xl font-semibold sm:leading-snug font-poppins;
  }

  .subhead-text {
    @apply font-semibold sm:text-3xl text-xl relative font-poppins;
  }

  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }

  .input {
    @apply bg-white border border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-2.5 font-normal shadow-card;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-200 focus:ring-blue-500 focus:border-blue-500 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 gap-7;
  }

  .cta-text {
    @apply text-black-500 font-extrabold flex-1 text-2xl md:text-3xl max-md:text-center;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow:
    0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow:
    0.6vmin 0.6vmin #336cc1,
    1vmin 1vmin #0092db,
    1vmin 1vmin #0092db,
    0.65vmin 1vmin #0092db,
    1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
  box-shadow:
    0.6vmin 0.6vmin #fff,
    1vmin 1vmin #d2e4ff,
    1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff,
    1vmin 0.65vmin #d2e4ff;
}

.border-image {
  position: absolute;
  top: -10px;
  border: dashed 3px transparent;
  border-radius: 9999px;
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  z-index: -1;
}

footer.footer.hidden,
header.header.footer.hidden {
  display: none !important;
}

.bubble {
  --bubble-outline: hsl(var(--hue), 100%, 50%);
  --bubble-spot: hsl(var(--hue), 100%, 75%);
  --bubble-shade: hsl(var(--hue), 100%, 70%);
  -webkit-animation-name: float;
  animation-name: float;
  -webkit-animation-duration: calc(var(--speed) * 1s);
  animation-duration: calc(var(--speed) * 1s);
  -webkit-animation-delay: calc(var(--delay) * -1s);
  animation-delay: calc(var(--delay) * -1s);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  background: radial-gradient(100% 115% at 25% 25%, #fff, transparent 33%),
    radial-gradient(15% 15% at 75% 75%, var(--bubble-spot), transparent),
    radial-gradient(100% 100% at 50% 25%, transparent, var(--bubble-shade) 98%);
  border: 1px solid var(--bubble-outline);
  border-radius: 100%;
  height: calc(var(--size) * 1px);
  left: calc(var(--x) * 1%);
  position: absolute;
  top: 100%;
  transform: translate(-50%, 0);
  width: calc(var(--size) * 1px);
  will-change: transform;
}

@-webkit-keyframes float {
  0% {
    opacity: 1;
    transform: translate(-50%, 0) scale(0);
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, calc(var(--distance) * -1vh)) scale(var(--scale));
  }
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translate(-50%, 0) scale(0);
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, calc(var(--distance) * -1vh)) scale(var(--scale));
  }
}

.bubble:nth-of-type(1) {
  --x: 78;
  --size: 14;
  --hue: 72;
  --distance: 147;
  --speed: 15;
  --delay: 4;
  --scale: 1.47;
}

.bubble:nth-of-type(2) {
  --x: 20;
  --size: 31;
  --hue: 72;
  --distance: 71;
  --speed: 6;
  --delay: 7;
  --scale: 1.04;
}

.bubble:nth-of-type(3) {
  --x: 23;
  --size: 35;
  --hue: 72;
  --distance: 65;
  --speed: 19;
  --delay: 6;
  --scale: 1.41;
}

.bubble:nth-of-type(4) {
  --x: 35;
  --size: 15;
  --hue: 72;
  --distance: 197;
  --speed: 16;
  --delay: 8;
  --scale: 1.12;
}

.bubble:nth-of-type(5) {
  --x: 57;
  --size: 27;
  --hue: 72;
  --distance: 56;
  --speed: 17;
  --delay: 3;
  --scale: 1.39;
}

.bubble:nth-of-type(6) {
  --x: 39;
  --size: 36;
  --hue: 72;
  --distance: 81;
  --speed: 15;
  --delay: 6;
  --scale: 1.48;
}

.bubble:nth-of-type(7) {
  --x: 70;
  --size: 43;
  --hue: 72;
  --distance: 137;
  --speed: 13;
  --delay: 8;
  --scale: 1.02;
}

.bubble:nth-of-type(8) {
  --x: 21;
  --size: 26;
  --hue: 72;
  --distance: 132;
  --speed: 4;
  --delay: 6;
  --scale: 1.46;
}

.bubble:nth-of-type(9) {
  --x: 56;
  --size: 43;
  --hue: 72;
  --distance: 197;
  --speed: 14;
  --delay: 5;
  --scale: 1.42;
}

.bubble:nth-of-type(10) {
  --x: 21;
  --size: 21;
  --hue: 72;
  --distance: 61;
  --speed: 5;
  --delay: 7;
  --scale: 1.22;
}

.bubble:nth-of-type(11) {
  --x: 33;
  --size: 38;
  --hue: 72;
  --distance: 104;
  --speed: 9;
  --delay: 9;
  --scale: 1.04;
}

.bubble:nth-of-type(12) {
  --x: 78;
  --size: 30;
  --hue: 72;
  --distance: 151;
  --speed: 7;
  --delay: 2;
  --scale: 1.4;
}

.bubble:nth-of-type(13) {
  --x: 18;
  --size: 27;
  --hue: 72;
  --distance: 240;
  --speed: 5;
  --delay: 8;
  --scale: 1.33;
}

.bubble:nth-of-type(14) {
  --x: 15;
  --size: 32;
  --hue: 72;
  --distance: 221;
  --speed: 17;
  --delay: 3;
  --scale: 1.45;
}

.bubble:nth-of-type(15) {
  --x: 14;
  --size: 29;
  --hue: 72;
  --distance: 83;
  --speed: 3;
  --delay: 6;
  --scale: 1.08;
}

.bubble:nth-of-type(16) {
  --x: 58;
  --size: 43;
  --hue: 72;
  --distance: 112;
  --speed: 14;
  --delay: 9;
  --scale: 1.47;
}

.bubble:nth-of-type(17) {
  --x: 87;
  --size: 46;
  --hue: 72;
  --distance: 160;
  --speed: 13;
  --delay: 6;
  --scale: 1.27;
}

.bubble:nth-of-type(18) {
  --x: 76;
  --size: 21;
  --hue: 72;
  --distance: 182;
  --speed: 5;
  --delay: 7;
  --scale: 1.07;
}

.bubble:nth-of-type(19) {
  --x: 81;
  --size: 11;
  --hue: 72;
  --distance: 86;
  --speed: 8;
  --delay: 5;
  --scale: 1.1;
}

.bubble:nth-of-type(20) {
  --x: 94;
  --size: 17;
  --hue: 72;
  --distance: 159;
  --speed: 6;
  --delay: 2;
  --scale: 1.13;
}

.bubble:nth-of-type(21) {
  --x: 33;
  --size: 42;
  --hue: 72;
  --distance: 54;
  --speed: 17;
  --delay: 3;
  --scale: 1.29;
}

.bubble:nth-of-type(22) {
  --x: 98;
  --size: 12;
  --hue: 72;
  --distance: 178;
  --speed: 15;
  --delay: 2;
  --scale: 1.23;
}

.bubble:nth-of-type(23) {
  --x: 38;
  --size: 28;
  --hue: 72;
  --distance: 242;
  --speed: 13;
  --delay: 3;
  --scale: 1.38;
}

.bubble:nth-of-type(24) {
  --x: 80;
  --size: 38;
  --hue: 72;
  --distance: 87;
  --speed: 15;
  --delay: 7;
  --scale: 1.43;
}

.bubble:nth-of-type(25) {
  --x: 51;
  --size: 39;
  --hue: 72;
  --distance: 116;
  --speed: 6;
  --delay: 8;
  --scale: 1.22;
}

.bubble:nth-of-type(26) {
  --x: 92;
  --size: 17;
  --hue: 72;
  --distance: 232;
  --speed: 5;
  --delay: 6;
  --scale: 1.33;
}

.bubble:nth-of-type(27) {
  --x: 27;
  --size: 29;
  --hue: 72;
  --distance: 173;
  --speed: 13;
  --delay: 3;
  --scale: 1.34;
}

.bubble:nth-of-type(28) {
  --x: 20;
  --size: 12;
  --hue: 72;
  --distance: 198;
  --speed: 6;
  --delay: 7;
  --scale: 1.31;
}

.bubble:nth-of-type(29) {
  --x: 47;
  --size: 46;
  --hue: 72;
  --distance: 233;
  --speed: 19;
  --delay: 3;
  --scale: 1.22;
}

.bubble:nth-of-type(30) {
  --x: 18;
  --size: 17;
  --hue: 72;
  --distance: 133;
  --speed: 16;
  --delay: 6;
  --scale: 1.03;
}
